body{background-color: #FF5533;}"
h1{color: #FF5533;
font-family: Futura;
font-size: 40px;
text-align: center;}
p{color: #FF5533;
font-family: Futura;
font-size: 15px;}
a{color: black;
font-family: Futura;
font-size; 18px;
text-decoration: none;}
a;hover{color:  #8C570F}
li{background-color: #FF5533;border-color: white;
	border-style:double;
	 text-align: center;
	 padding: 2px;
	 displany: inline;}
ul{list-style-type: none;}